<!DOCTYPE html>
<html lang="ja" xmlns:th="//www.thymeleaf.org" xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">OpenTel.JP</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
  <div class="flex flex-col min-h-screen">
    <div layout:replace="~{layouts/header::header}"></div>
    <div class="grow">
      <div layout:fragment="content"></div>
    </div>
    <div layout:replace="~{layouts/footer::footer}"></div>
  </div>
</body>
</html>